<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.quizapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizApp">
        <activity
            android:name=".Score"
            android:exported="false" />
        <activity
            android:name=".StartTest"
            android:exported="false" />
        <activity
            android:name=".Questions"
            android:exported="false" />
        <activity
            android:name=".Test"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false"
            android:parentActivityName=".LoginPage" />
        <activity
            android:name=".SignUpPage"
            android:exported="false"
            android:parentActivityName=".LoginPage" />
        <activity
            android:name=".LoginPage"
            android:exported="false"
            android:theme="@style/Theme.QuizApp" />
        <activity
            android:name=".IntroScreen"
            android:exported="true"
            android:theme="@style/Theme.QuizApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.QuizApp.NoActionBar" />
    </application>

</manifest>